<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HRSignupServlet</servlet-name>
        <servlet-class>Controller.HRSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceServlet</servlet-name>
        <servlet-class>Controller.AttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticeServlet</servlet-name>
        <servlet-class>Controller.NoticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalaryServlet</servlet-name>
        <servlet-class>Controller.SalaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalCalServlet</servlet-name>
        <servlet-class>Controller.SalCalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>Controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateEmp</servlet-name>
        <servlet-class>Controller.updateEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSalaryServlet</servlet-name>
        <servlet-class>Controller.updateSalaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendServlet</servlet-name>
        <servlet-class>Controller.AttendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>increaseAtt</servlet-name>
        <servlet-class>Controller.increaseAtt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveServlet</servlet-name>
        <servlet-class>Controller.LeaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HRSignupServlet</servlet-name>
        <url-pattern>/HRSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceServlet</servlet-name>
        <url-pattern>/AttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticeServlet</servlet-name>
        <url-pattern>/NoticeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalaryServlet</servlet-name>
        <url-pattern>/SalaryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalCalServlet</servlet-name>
        <url-pattern>/SalCalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateEmp</servlet-name>
        <url-pattern>/updateEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSalaryServlet</servlet-name>
        <url-pattern>/updateSalaryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendServlet</servlet-name>
        <url-pattern>/AttendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>increaseAtt</servlet-name>
        <url-pattern>/increaseAtt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveServlet</servlet-name>
        <url-pattern>/LeaveServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
